Libraries

In [1]:
import pandas as pd
import requests

API call

In [2]:
url = 'https://olinda.bcb.gov.br/olinda/servico/SICOR/versao/v2/odata/CusteioMunicipioProduto?$top=100&$format=json'
response = requests.get(url).json()

Raw dataframe

In [3]:
df = pd.DataFrame.from_dict(response['value'])

Create date column

In [4]:
df['cdData'] = df['MesEmissao'] + "-" + df['AnoEmissao']
df.drop( columns = ['MesEmissao', 'AnoEmissao'], inplace = True )
df['cdData'] = pd.to_datetime(df['cdData'], format = '%m-%Y')

Set types accordingly

In [9]:
df[['Atividade', 
    'cdPrograma', 
    'cdSubPrograma', 
    'cdFonteRecurso', 
    'cdTipoSeguro', 
    'cdEstado', 
    'cdProduto', 
    'codCadMu', 
    'cdModalidade', 
    'codIbge']] = df[['Atividade',
                      'cdPrograma', 
                      'cdSubPrograma', 
                      'cdFonteRecurso', 
                      'cdTipoSeguro', 
                      'cdEstado', 
                      'cdProduto', 
                      'codCadMu', 
                      'cdModalidade', 
                      'codIbge']].astype('int64')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Municipio       100 non-null    object
 1   nomeProduto     100 non-null    object
 2   cdPrograma      100 non-null    int64
 3   cdSubPrograma   100 non-null    int64
 4   cdFonteRecurso  100 non-null    int64
 5   cdTipoSeguro    100 non-null    int64
 6   cdEstado        100 non-null    int64
 7   VlCusteio       100 non-null    float64
 8   cdProduto       100 non-null    int64
 9   codCadMu        100 non-null    int64
 10  Atividade       100 non-null    int64
 11  cdModalidade    100 non-null    int64
 12  codIbge         100 non-null    int64
 13  AreaCusteio     100 non-null    float64
 14  cdData          100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(10), object(2)
memory usage: 11.8+ KB

In [8]:
df.head()

,Municipio,nomeProduto,cdPrograma,cdSubPrograma,cdFonteRecurso,cdTipoSeguro,cdEstado,VlCusteio,cdProduto,codCadMu,Atividade,cdModalidade,codIbge,AreaCusteio,cdData
0,ABADIÂNIA,"""BOVINOS""",999,0,503,3,10,87961.05,1300,24615,2,26,5200100,0.0,2018-05-01
1,LUZILÂNDIA,"""BOVINOS""",1,56,502,9,18,5000.00,1300,22813,2,26,2205805,0.0,2018-07-01
2,GURINHATÃ,"""BOVINOS""",50,0,201,9,12,1082876.53,1300,4714,2,26,3129103,0.0,2015-07-01
3,SERRA DA SAUDADE,"""BOVINOS""",999,0,430,9,12,37344.00,1300,16128,2,26,3166600,0.0,2016-03-01
4,SABINO,"""TOMATE""",999,0,201,3,27,240730.07,6940,5218,1,1,3544608,3.7,2018-03-01

Export to csv

In [ ]:
df.to_csv(index = False)